.contact-filter {
    margin-block: 10px;

    input{
        width: 300px;
        padding: 10px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
}